<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.heima.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddUi</display-name>
    <servlet-name>ProductAddUi</servlet-name>
    <servlet-class>com.heima.web.ProductAddUi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddUi</servlet-name>
    <url-pattern>/productAddUi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddServlet</display-name>
    <servlet-name>ProductAddServlet</servlet-name>
    <servlet-class>com.heima.web.ProductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddServlet</servlet-name>
    <url-pattern>/productAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDel</display-name>
    <servlet-name>ProductDel</servlet-name>
    <servlet-class>com.heima.web.ProductDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDel</servlet-name>
    <url-pattern>/productdel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpudateUi</display-name>
    <servlet-name>ProductUpudateUi</servlet-name>
    <servlet-class>com.heima.web.ProductUpudateUi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpudateUi</servlet-name>
    <url-pattern>/productUpudateUi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProduct</display-name>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>com.heima.web.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProduct</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProducSeachServlet</display-name>
    <servlet-name>ProducSeachServlet</servlet-name>
    <servlet-class>com.heima.web.ProducSeachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProducSeachServlet</servlet-name>
    <url-pattern>/productSeach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListClothes</display-name>
    <servlet-name>ProductListClothes</servlet-name>
    <servlet-class>com.heima.web.ProductListClothes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListClothes</servlet-name>
    <url-pattern>/productListClothes</url-pattern>
  </servlet-mapping>
</web-app>