<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web10</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>checkimg</display-name>
    <servlet-name>checkimg</servlet-name>
    <servlet-class>checkimg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkimg</servlet-name>
    <url-pattern>/checkimg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddcustomerServlet</display-name>
    <servlet-name>AddcustomerServlet</servlet-name>
    <servlet-class>com.heima.web.AddcustomerServlce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddcustomerServlet</servlet-name>
    <url-pattern>/addcustomer</url-pattern>
  </servlet-mapping>
  <filter>
    <description></description>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.heima.web.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ListCustomerServlet</display-name>
    <servlet-name>ListCustomerServlet</servlet-name>
    <servlet-class>com.heima.web.ListCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustomerServlet</servlet-name>
    <url-pattern>/listcustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLinkManServlet</display-name>
    <servlet-name>AddLinkManServlet</servlet-name>
    <servlet-class>com.heima.web.AddLinkManServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLinkManServlet</servlet-name>
    <url-pattern>/addlinkman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListlinkmanServlet</display-name>
    <servlet-name>ListlinkmanServlet</servlet-name>
    <servlet-class>com.heima.web.ListlinkmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListlinkmanServlet</servlet-name>
    <url-pattern>/listlinkman</url-pattern>
  </servlet-mapping>
</web-app>