<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLine</display-name>
    <servlet-name>ServletLine</servlet-name>
    <servlet-class>day15.demo.request.ServletLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLine</servlet-name>
    <url-pattern>/line</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serveltcontent</display-name>
    <servlet-name>Serveltcontent</servlet-name>
    <servlet-class>day15.demo.rescontent.Serveltcontent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serveltcontent</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>day15.demozhuangfa.forword.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>day15.demozhuangfa.forword.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletregister</display-name>
    <servlet-name>Servletregister</servlet-name>
    <servlet-class>day15.demo.register.Servletregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletregister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendcookieServlet</display-name>
    <servlet-name>SendcookieServlet</servlet-name>
    <servlet-class>da15.demo.cookie.SendcookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendcookieServlet</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookie</display-name>
    <servlet-name>GetCookie</servlet-name>
    <servlet-class>da15.demo.cookie.GetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookie</servlet-name>
    <url-pattern>/getcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastTimeServlet</display-name>
    <servlet-name>LastTimeServlet</servlet-name>
    <servlet-class>da15.demo.cookie.LastTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastTimeServlet</servlet-name>
    <url-pattern>/lasttime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSession</display-name>
    <servlet-name>ServletSession</servlet-name>
    <servlet-class>day15.demo.session.ServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSession</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSession2</display-name>
    <servlet-name>ServletSession2</servlet-name>
    <servlet-class>day15.demo.session.ServletSession2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSession2</servlet-name>
    <url-pattern>/session2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chenckimg</display-name>
    <servlet-name>Chenckimg</servlet-name>
    <servlet-class>day15.demo.checkimg.Chenckimg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chenckimg</servlet-name>
    <url-pattern>/checkimg1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkusername</display-name>
    <servlet-name>Checkusername</servlet-name>
    <servlet-class>web.Checkusername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkusername</servlet-name>
    <url-pattern>/checkusername</url-pattern>
  </servlet-mapping>
</web-app>